<?php if(!empty($formModel->cdek) && $formModel->cdek->city_id): ?>
<div id="cdek-actions">
    <label>
        <?php if($formModel->cdek->dispatch_number) {
            echo e(trans('gabix.cdekshopaholic::lang.api.update_label', ['date' => $formModel->cdek->sent_date->format('d.m.Y H:i')]));
            if($formModel->cdek->modify_date) {
                echo e(trans('gabix.cdekshopaholic::lang.api.modified_label', ['date' => $formModel->cdek->modify_date->format('d.m.Y H:i')]));
            }
            if($formModel->cdek->status_code) {
                echo ' - '.$formModel->cdek->getStatusLabel();
            }
        } else {
            echo e(trans('gabix.cdekshopaholic::lang.api.create_label'));
        } ?>
    </label>
    <div class="form-buttons loading-indicator-container">

        <!-- Save -->
        <a
                href="javascript:;"
                class="btn btn-primary oc-icon-check save"
                data-request="onCdekDispatch"
                data-request-data="record_id: <?= $formModel->id ?>, action: 'create'"
                data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                data-request-before-update="$el.trigger('unchange.oc.changeMonitor')">
        <?= e(trans(!$formModel->cdek->dispatch_number ? 'gabix.cdekshopaholic::lang.api.create' : 'gabix.cdekshopaholic::lang.api.update')) ?>
        </a>
        <?php if(!empty($formModel->cdek->dispatch_number)): ?>
        <button
                type="button"
                class="btn btn-default empty oc-icon-trash-o"
                data-request="onCdekDispatch"
                data-request-data="record_id: <?= $formModel->id ?>, action: 'delete'"
                data-request-confirm="<?= e(trans('gabix.cdekshopaholic::lang.api.delete_confirm')) ?>">
        </button>
        <?php endif ?>
    </div>
</div>
<?php endif ?>