<!-- CDEK city dropdown -->
<?php list($model, $attribute) = $field->resolveModelAttribute($formModel, $field->fieldName); ?>
<?php if ($this->previewMode || $field->readOnly): ?>
    <div class="form-control" <?= $field->readOnly ? 'disabled="disabled"' : ''; ?>>
        <?= $model->city_data['name'] ?? $field->value ?>
    </div>
    <?php if ($field->readOnly): ?>
        <input type="hidden" name="<?= $field->getName() ?>" value="<?= $field->value ?>">
    <?php endif; ?>
<?php else: ?>
    <select id="<?= $field->getId() ?>" name="<?= $field->getName() ?>" <?= $field->getAttributes() ?>
        class="form-control custom-select"
        <?= $field->placeholder ? 'data-placeholder="'.e(trans($field->placeholder)).'"' : '' ?>>
            <?php if($emptyOption = $field->getConfig('emptyOption', $field->placeholder)) {
                echo '<option value="">'.e(trans($emptyOption)).'</option>';
            }?>
        <?php if (!empty($field->value)): ?>
            <option selected value="<?= e($field->value) ?>"
                    data-data="<?= e(json_encode($model->city_data)) ?>">
                <?= e($model->city_data['name'] ?? $field->value) ?>
            </option>
        <?php endif ?>
    </select>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script>
      (function ($) {
        $(function () {
          var $city = $('#<?= $field->getId() ?>').select2({
            ajax: {
              url: "https://api.cdek.ru/city/getListByTerm/jsonp.php",
              dataType: 'jsonp',
              type: "GET",
              delay: 250,
              data: function (params) {
                return {
                  q: params.term
                };
              },
              processResults: function (data) {
                data.geonames = $.map(data.geonames, function (obj) {
                  obj.text = obj.name;
                  return obj;
                });
                return {
                  results: data.geonames
                };
              },
              cache: true
            },
            minimumInputLength: 2
          }).on('change', function() {
            var $cityData = $('.js-city-data').empty();
            if($city.select2('data').length) {
              $.each($city.select2('data')[0], function(k, v) {
                if(typeof v !== 'string' && typeof v !== 'number') {
                    return;
                }
                $cityData.append($('<input/>', {
                  type: 'hidden',
                  name: "<?php echo str_replace('['.$attribute.']', '[city_data]', $field->getName()); ?>["+k+"]",
                  value: v
                }));
              });
            }
          });
        });
      })(jQuery);
    </script>
<?php endif ?>